<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form</title>
 
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
 
   <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body class="bg-blue-200">
  
    <nav class="bg-custom-color p-4 flex justify-between items-center">
   
      <div class="flex items-center">
          <a href="index" class="text-white mr-4"><i class="fas fa-arrow-left"></i> </a>
      </div>
   
      <div class="flex items-center">
          <img src="https://i.ibb.co/3cYVzsM/logo1.png" alt="Logo" class="h-16 w-16 mr-2">
          <h1 class="text-white text-2xl font-semibold">STOCKWISE</h1>
      </div>
     
      <a href="register" class="text-white">Register</a>
  </nav>

  <div class="container mx-auto bg-white p-8 rounded-lg shadow-md mt-8">
    <div class="flex justify-center items-center">
      <div class="left-image flex-1 p-4">
        <img src="https://play-lh.googleusercontent.com/ZCPU-kMTABemdqxWwp7UmbzDI7hghnJGzj7g-4bQZeBYzhB567ECIkzFuQPo2lnyRI4" alt="image" class="w-full rounded-lg">
      </div>
      <form class="flex-1 p-4" action="#" th:action="@{/log}" method="POST">
          <h2 class="text-center text-xl font-bold mb-4">LOGIN </h2> 
        <label for="email" class="block font-semibold mb-1">Email Address:</label>
        <input type="email" id="email" name="email" required class="w-full px-4 py-2 mb-4 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-500">
        <label for="password" class="block font-semibold mb-1" >Password:</label>
        <input type="password" id="password" name="password" required class="w-full px-4 py-2 mb-4 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-500">
        <input type="submit" value="Login" id="login" class="w-full bg-green-500 text-white font-semibold py-2 rounded-lg transition duration-300 hover:bg-green-600 cursor-pointer">
      </form>
      <div class="right-image flex-1 p-4">
        <img src="https://play-lh.googleusercontent.com/b7uemhn3RD_7eDGadpTO3HX7xw9lk6DX7lX2iDSK-b4fsXLX5vBQWOZr54OvUTdVMRY" alt="image" class="w-full rounded-lg">
      </div>
    </div>
  </div>

  <style>
    .bg-custom-color {
      background-color: rgb(20, 101, 112);
    }
  </style>
</body>
</html>
